<div ng-controller="ViewControl as viewCtrl">
  <div ng-show="viewCtrl.view()" class="navbar-fixed">
    <nav>
      <div class="nav-wrapper grey lighten-3">
        <a ui-sref="home" class="brand-logo left indigo-text text-lighten-2">SnapShop</a>
        <ul id="nav-mobile" class="right">
          <li><a class="indigo-text text-lighten-2" ui-sref="home">Home</a></li>
          <li><a class="indigo-text text-lighten-2" ui-sref="catalog" ng-show="viewCtrl.signUpSvc.signIn">Catalog</a></li>
          <li><a class="indigo-text text-lighten-2" ui-sref="signUp" ng-hide="viewCtrl.signUpSvc.signIn">Sign Up</a></li>
          <li><a class="indigo-text text-lighten-2" ui-sref="logIn" ng-hide="viewCtrl.signUpSvc.signIn">Log In</a></li>
          <li><a class="indigo-text text-lighten-2" ui-sref="orders" ng-show="viewCtrl.signUpSvc.signIn">Orders</a></li>
          <li><a class="indigo-text text-lighten-2" ng-show="viewCtrl.signUpSvc.signIn" ng-click="viewCtrl.logOut()">Log Out</a></li>
        </ul>
      </div>
    </nav>
  </div>

  <div ng-hide="viewCtrl.view()">
    <nav id="home-nav">
      <div class="nav-wrapper">
        <a ui-sref="home" class="brand-logo left indigo-text text-lighten-2">SnapShop</a>
        <ul id="nav-mobile" class="right">
          <li><a ui-sref="home">Home</a></li>
          <li><a ui-sref="catalog" ng-show="viewCtrl.signUpSvc.signIn">Catalog</a></li>
          <li><a ui-sref="signUp" ng-hide="viewCtrl.signUpSvc.signIn">Sign Up</a></li>
          <li><a ui-sref="logIn" ng-hide="viewCtrl.signUpSvc.signIn">Log In</a></li>
          <li><a ng-show="viewCtrl.signUpSvc.signIn" ui-sref="orders">Orders</a></li>
          <li><a ng-show="viewCtrl.signUpSvc.signIn" ng-click="viewCtrl.logOut()">Log Out</a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>
