<div id="home-divs" class="container">
  <div class="row">
    <div class="col s4">
      <h4 class="indigo-text text-lighten-1">What is This?</h4>
      <p class="desc">Jump start your photography career with us!
        We have a wide selection of cameras for various level of interests.
        Join us, and we will sure make sure you end up with the camera you want!</p>
    </div>
    <div class="col s4">
      <h4 class="indigo-text text-lighten-1">Why us?</h4>
      <p class="desc">Aside from the best selections of cameras, we have a best
        consultant and customer service representatives at your disposal.
        By the end of the day, you will walk out with the best camera of your choosing!</p>
    </div>
    <div class="col s4">
      <h4 class="indigo-text text-lighten-1">Free Delivery!</h4>
      <p class="desc">For a limited time only, we are giving out free delivery for
        new customers! Come sign up with us and we will pair you up with a consultant!</p>
    </div>
  </div>
</div>
