body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

section {
  flex: 1 0 auto;
  margin-top: 2%;
  margin-bottom: 2%;
}

.card img {
  max-height: 200px;
  max-width: 100%;
}

.cart-products {
  border: 1px solid gray;
  position: relative;
  margin: 0;
}

.subtotal {
  font-size: 100%;
}

.tax {
  font-size: 100%;
}

.total {
  font-size: 150%;
}

#dembtn {
  width: 100%;
}
