<div class="row">
  <form ng-submit="orderCtrl.addOrder(address1, address2, city, state, zip)">
    <div class="input-field col s12">
      <input id="address1" type="text" class="validate" ng-model="address1">
      <label for="address1">Address1</label>
    </div>
    <div class="input-field col s12">
      <input id="address2" type="text" class="validate" ng-model="address2">
      <label for="address2">Address2</label>
    </div>
    <div class="input-field col s12">
      <input id="city" type="text" class="validate" ng-model="city">
      <label for="city">City</label>
    </div>
    <div class="input-field col s6">
      <input id="state" type="text" class="validate" ng-model="state">
      <label for="state">State</label>
    </div>
    <div class="input-field col s6">
      <input id="zip" type="text" class="validate" ng-model="zip">
      <label for="zip">Zip</label>
    </div>
    <input type="submit" value="Submit Order" class="btn waves-effect waves-light"/>
  </form>
</div>
